.card_wrap {
  text-decoration:none;
  color: #000;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: 2px solid;
  margin: 30px;
  padding: 20px;
}

.card_title{
  font-size: 32px;
  margin-bottom: 10px;
}

.card_author{
  margin-bottom: 10px;
}